---
import LinkPersonne from "../../components/LinkPersonne.astro"
import Layout from "../../layouts/Layout.astro"
const personnes = await Astro.locals.pb.collection("Personnes").getFullList()
---

<Layout titre="Les personnes" description="Page regroupant toutes les personnes">
    <h1>les personnes</h1>
    <ul>
        {
            personnes.map((personne) => (
                <li>
                    <LinkPersonne personne={personne} />
                </li>
            ))
        }
    </ul>
{ Astro.locals.pb.authStore.isValid && <a href="/personne/edit/">Ajouter une nouvelle personne</a> }
</Layout>