---
import LinkPersonne from "../../components/LinkPersonne.astro";
import Layout from "../../layouts/Layout.astro";
const personnes = await Astro.locals.pb.collection("Personnes").getFullList()
---

<Layout>
    <h1>Personnes</h1>
    <ul class="flex flex-col">
        {personnes.map((personne) => (
            <li>
                <LinkPersonne personne={personne} />
            </li>
        ))}
    </ul>
</Layout>