---
import { Debug } from "astro:components";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;

const { id } = Astro.params ;
const personne = await Astro.locals.pb.collection("personnes").getOne(id) ;


---
<Layout>
    <p>Affichage d'une personne</p>
    <Debug {personne} />
    { Astro.locals.pb.authStore.record?.id === personne.user && 
        <a href={`/personne/edit/${personne.id}`}>Modifier la personne</a>
    }
</Layout>