---
import LinkFilm from "../../components/LinkFilm.astro"
import Layout from "../../layouts/Layout.astro"
const films = await Astro.locals.pb.collection("Films").getFullList()
---

<Layout titre="Les films">
    <h1>les films</h1>
    <ul>
        {
            films.map((film) => (
                <li>
                    <LinkFilm film={film} />
                </li>
            ))
        }
    </ul>
{ Astro.locals.pb.authStore.isValid && <a href="/film/edit/">Ajouter un nouveau film</a> }
</Layout>