---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="flex flex-col">
        <a href="/personne">Voir les personnes</a>
        <a href="/film">Voir les films</a>
    </div>
</Layout>
