---
import slug from 'slug';
import type { FilmsRecord } from '../pocketbase-types'

interface Props {
    film:FilmsRecord;
}
const film = Astro.props.film
---
<a href={`/film/${film.id}-${slug(film.titre ?? "Inconnu")}`}>{film.titre}</a>